/* *{
    color: black;
} */
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #141414;
    color: white;
    box-sizing: border-box;
    position: relative;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {

    text-decoration: none;
    color: white;
}

header ul {
    display: flex;
    gap: 0px 10px;
    justify-content: space-evenly;
}

header li a {
    padding: 10px 30px;
    line-height: 33px;
    display: block;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    padding-left: 30px;
}

main {
    padding-top: 60px;
    display: grid;
    grid-template-columns: 400px 600px;
    justify-content: center;
}

main img {
    max-width: 100%;
    display: block;
    border-radius: 20px;
}

main div {
    display: grid;
}

main h1 {
    justify-self: center;
    align-self: center;
}

section .descricao {
    padding: 10px;
}

section p:first-child {
    /* background-color: rgb(228, 162, 241); */
    padding: 10px;
    margin-bottom: 4px;
    text-align: center;
}

section h1 {
    font-size: 4rem;
    align-self: center;
}

section {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 400px 600px;
    justify-content: center;
    justify-items: center;
}

section strong {
    color: rgb(163, 124, 179);
}

section p {
    font-family: none;
}

section ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

footer {
    margin-top: 20px;
}

.subtitulo {
    text-shadow: #f5f5f5 -0px 0px 47px;
}

/* .nome {
    font-family: 'Brush Script MT', cursive;
} */

.whats {
    width: 70px;
    height: 70px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    /* background-color: yellow; */
}

.introducao {
    animation: corTransicao 5s infinite;
    text-shadow: #f5f5f5 -0px 0px 47px;
    color: black;
}

section li:last-child {

    grid-column: 3;
}

.habilidades .DeixarNoMeio {
    justify-self: center;
    grid-column: 2;
}

.xpTrabalhos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.habilidades {
    display: grid;
    grid-template-columns: 1fr;
}

.habilidades lu {
    align-items: start;
}

.containerExperiencias {
    border: 1px solid pink;
    border-radius: 3px;
}

.containerFormacoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listaFormacoes {
    display: flex;
    gap: 0px 5px;
}

.itemsFormacoes {
    background-color: #000000;
    width: 150px;
    height: 150px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
}

.itemsFormacoes h4 {
    font-family: none;
}

.containerIdiomas {
    display: flex;
    width: 100%;
    justify-content: center;
    grid-column: 2;
    margin-top: 10px;
}

.idiomas h3 {
    position: relative;
    animation: corTransicaoIdiomas 4s infinite;
}

.idiomas h3::before {
    background: url(/imagens/idiomas.svg) no-repeat center center;
    content: "";
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    left: -36px;
}

.footerIcon {
    height: 30px;
    width: 30px;
}

.rodape {
    background-color: #000000;
    color: white;
}

/* .containerIcons {
    display: grid;
    grid-template-columns: auto;
} */

.linhaIcon {
    display: flex;
    gap: 0px 12px;
    align-items: center;
    padding-left: 15px;
}

.containerIcons:first-child {
    padding-top: 30px;
}

.frase {
    text-align: center;
}

@media(max-width:800px) {
    header {
        flex-direction: column;
        justify-content: center;

    }

    header h1 {
        text-align: center;
    }

    header li {
        background-color: #f5f5f5;
        border-radius: 4px;
    }

    header a {
        color: black;
    }

    main {
        grid-template-columns: 1fr;

    }

    img {
        max-width: 100%;
    }

    section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .subtituloResponsivo {
        word-break: break-all;
        width: 5ch;
    }

    .listaFormacoes {
        flex-wrap: wrap;
        gap: 5px 0px;
    }

    .whats {
        bottom: 30px;
    }

    .containerIdiomas {
        justify-content: start;
    }
}

@keyframes corTransicao {
    0% {
        color: white;
        /* Início da animação: cor branca */
    }

    50% {
        color: #141414;
        /* Meio da animação: transição para a cor verde claro */
    }

    100% {
        color: white;
        /* Fim da animação: volta para a cor branca */
    }
}

@keyframes corTransicaoIdiomas {
    0% {
        color: white;
        /* Início da animação: cor branca */
    }

    50% {
        color: lightgreen
            /* Meio da animação: transição para a cor verde claro */
    }

    100% {
        color: white;
        /* Fim da animação: volta para a cor branca */
    }
}